<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.uroad.dubai">

    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_CALENDAR" />
    <uses-permission android:name="android.permission.WRITE_CALENDAR" />

    <application
        android:name=".common.DubaiApplication"
        android:allowBackup="false"
        android:icon="@mipmap/ic_logo"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning"
        tools:targetApi="n">
        <activity
            android:name=".activity.SplashActivity"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.MainActivity"
            android:launchMode="singleTask" />

        <activity
            android:name=".activity.RoadNavigationActivity"
            android:launchMode="singleTop"
            android:theme="@style/TranslucentTheme" />
        <!--  <activity
              android:name=".activity.RoadNavigationV7Activity"
              android:launchMode="singleTop"
              android:theme="@style/TranslucentTheme" />-->
        <activity
            android:name=".activity.NewsListActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".activity.RouteNavigationActivity"
            android:launchMode="singleTop"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".activity.MessagesListActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".activity.PoliceListActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".activity.BusStopListActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".activity.ParkingListActivity"
            android:launchMode="singleTop" />

        <activity
            android:name=".activity.AttractionsListActivity"
            android:launchMode="singleTop" />

        <activity
            android:name=".activity.FavoriteListActivity"
            android:launchMode="singleTop" />

        <activity
            android:name=".activity.MoreActivity"
            android:launchMode="singleTop" />

        <activity
            android:name=".activity.RoadsListActivity"
            android:launchMode="singleTop" />

        <activity
            android:name=".activity.CalendarListActivity"
            android:launchMode="singleTop" />

        <activity
            android:name=".activity.WeatherActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".activity.NewsDetailsActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".activity.ScenicDetailActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".activity.LoginActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".activity.CreatePasswordActivity"
            android:launchMode="singleTop" />

        <activity
            android:name=".activity.PinLoginActivity"
            android:launchMode="singleTop" />

        <activity
            android:name=".activity.EventsListActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".activity.SettingActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".activity.VerifyActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".activity.VerificationCodeActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".activity.PhoneActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".activity.GroupsSetupActivity"
            android:launchMode="singleTop"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name=".activity.GroupsEditActivity"
            android:launchMode="singleTop"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".activity.GroupsDetailActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".activity.GroupsInviteActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".activity.MapNavigationActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".activity.EventsDetailActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".activity.ChoiceCountryActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".activity.NoticeListActivity"
            android:launchMode="singleTop" />

        <!--photopicker-->
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_path" />
        </provider>

        <activity
            android:name=".photopicker.ui.PhotoPickerActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".photopicker.ui.ImagePreViewActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".photopicker.ui.ImageCropActivity"
            android:launchMode="singleTop" />

        <activity
            android:name=".activity.FeedbackActivity"
            android:launchMode="singleTop"
            android:windowSoftInputMode="adjustPan|stateHidden" />
    </application>

</manifest>